.speaker {
  font-weight: 400;
}

.primaryInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.eventCard {
  max-width: 800px;
  width: 100%;
  margin: 35px auto;
  box-sizing: border-box;
}

.description {
  width: 100%;
  white-space: pre-wrap;
}

.iconButtons {
  display: flex;
  gap: 5px;
}

.badge {
  text-transform: capitalize;
}

.title {
  margin: 5px 0;
}

.relatedEvents {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.wrapper {
  padding: 0 20px;
}