.speaker {
  font-weight: 400;
}

.primaryInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.secondaryInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.eventCard {
  min-height: 150px;
  width: 100%;
}

.description {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  line-height: 1.5em;
  height: 3em;

}

.iconButtons {
  display: flex;
  gap: 5px;
}